constants/*.json

# Env variables
.env

# Dependency directories
node_modules
typechain
typechain-types

# Stats
coverage
coverage.json
**/gas_report*
**/gas_output*
**/gasReport*

# Hardhat files
cache
artifacts
artifacts
build
cache

