# Env variables
.env

# Dependency directories
node_modules
typechain
typechain-types

# Stats & Json files
coverage
coverage.json

**/gas_report*
**/gas_output*
**/gasReport*

constants/*.json
# except for the following files
!constants/deploymentConfig.json

# Hardhat files
cache
artifacts
artifacts
build
cache

